<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356663402947-8tuefkj9g1sssg1pqjca4hmbu22lee8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356663402947-8tuefkj9g1sssg1pqjca4hmbu22lee8e</string>
	<key>API_KEY</key>
	<string>AIzaSyC9Q8mAcd__ffDYCEhRLFS0L4NCIHy1GfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>356663402947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neostudios.zest</string>
	<key>PROJECT_ID</key>
	<string>neo-zest-app</string>
	<key>STORAGE_BUCKET</key>
	<string>neo-zest-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356663402947:ios:c8202b98c8d640cc379d76</string>
</dict>
</plist>
