@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:wght@400;700&family=Google+Sans+Mono:wght@400;700&display=swap');

body {
  font-family: "Google Sans Flex", sans-serif;
}

code, pre {
  font-family: "Google Sans Mono", monospace;
}
